.locations {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  
  .location {
    border: 3px solid darkmagenta;
    border-radius: 8px;
    padding: 0 8px;
    background-color: khaki;
    max-width: 275px;
    margin: 5px    
  }