.kennel {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.content {
    margin-top: 50px;
}

.pageTitle {
    display: flex;
    align-content: center;
    justify-content: center;
}
